/* ===========================
  Bar
=========================== */
.Bar {
  position: relative;
  width: 400px;
  border-radius: $br-standard;
  @include default-shadow();
}

/* ===========================
  Elements
=========================== */
.Bar__inner {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  background-color: $c-white;
  border-radius: $br-standard;
  position: relative;
  z-index: 1;
}

.Bar__icon {
  height: 100%;
  padding: 0 15px 0 20px;
  border-top-left-radius: $br-standard;
  border-bottom-left-radius: $br-standard;
  display: flex;
  align-items: center;
  background-color: transparent;
  transition: background-color $t-standard;
}

.Bar__icon-search,
.Bar__icon-clear {
  width: 15px;
  height: 15px;
  font-size: 0;

  svg {
    height: 100%;
    fill: $c-mid-grey
  }

  &.dark {
    svg {
      fill: $c-dark-grey
    }
  }
}

.Bar__icon-clear {
  display: none;

  svg {
    height: 13px;
    margin-top: 2px;
    transition: fill $t-standard;
  }

  &:hover svg {
    fill: $c-mid-grey;
  }
}

.Bar__input {
  border: 0;
  height: 100%;
  background-color: transparent;
  width: calc(100% - 50px);
  border-top-right-radius: $br-standard;
  border-bottom-right-radius: $br-standard;
  outline: 0;
  color: $c-dark-grey;
  transition: background-color $t-standard;

  &::-webkit-input-placeholder,
  &::placeholder {
    color: $c-mid-grey;
  }
}

/* ===========================
  Modifiers
=========================== */
.Bar--has-results {
  box-shadow: 0;

  .Bar__icon,
  .Bar__input {
    background-color: $c-light-grey;
  }
}

.Bar--has-selected {
  .Bar__icon-search {
    display: none;
  }

  .Bar__icon-clear {
    display: block;
  }
}
