/* ===========================
  Bar
=========================== */
.Bar {
  position: relative;
  width: 400px;
}

/* ===========================
  Elements
=========================== */
.Bar__inner {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  background-color: $c-white;
  border-radius: 12px;
}

.Bar__icon {
  height: 100%;
  padding: 0 15px 0 20px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  display: flex;
  align-items: center;

  svg {
    background: $c-mid-grey;
    width: 15px;
    height: 15px;
    transition: background-color $t-standard;
  }

  &.dark {
    svg {
      background: $c-dark-grey;
    }
  }
}

.Bar__input {
  border: 0;
  height: 100%;
  background-color: transparent;
  width: calc(100% - 50px);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  outline: 0;
  color: $c-dark-grey;

  &::-webkit-input-placeholder,
  &::placeholder {
    color: $c-mid-grey;
  }
}
