/* ===========================
  Results
=========================== */
.Results {
  width: 100%;
  position: absolute;
  z-index: -1;
  background-color: red;
  border-radius: 12px;
}

/* ===========================
  Elements
=========================== */
.Results__ul {

}
