/* ===========================
  Wrapper
=========================== */
.Wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media (max-width: $b-small) {
    justify-content: space-between;
  }
}

/* ===========================
  Elements
=========================== */
.Wrapper__github-wrap {
  position: fixed;
  bottom: 30px;
  z-index: 0;
  animation-delay: 300ms;
  font-size: 0;
  height: 16px;
  width: 16px;
}

.Wrapper__github {
  display: block;
  color: $c-dark-grey;
  transition: color $t-standard;

  &:hover {
    color: $c-mid-grey;
  }
}
